<!DOCTYPE html>
<html>
<body>
<h1>Planning</h1>

<form method="post" action="/">
    <input type="submit" name="submit_button" value="Do Plan">
</form>

<div>
    {{ data }}
</div>

{% if data %}
<div>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Persons</th>
                <th>Hotels</th>
            </tr>
        </thead>
        <tbody>
            {% for action in data %}
                <tr>
                    <!--<td>{{ action['date'] }}</td>-->
                    <td>{{ action['names']|capitalize }}</td>
                    <td>{{ action['routes'] }}</td>
                    <td>{{ action['availabilities'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

</body>
</html>
