<!DOCTYPE html>
<html>
<head>
    <h1>Planning</h1>
    <link rel="stylesheet" href="src/templates/planning.css">
</head>
<body>

<form method="post" action="/">
    <input type="submit" name="submit_button" value="Do Plan">
</form>

{% if data %}
<div>
    <table class="blueTable">
        <thead>
        <tr>
            <th>Visit Date</th>
            <!--<th></th>-->
            <th>Persons</th>
            <th>Hotels</th>
            <!--<th>Availabilities</th>-->
        </tr>
        </thead>
        <tbody>
        {% for action in data %}
        <tr>
            <td>
            {% for stuff in action['visits'] %}
                <div>{{ stuff['date'] }} || {{ stuff['time'] }}</div>
            {% endfor %}
            </td>
            <td>{{ action['names']|capitalize }}</td>
            <td>
                {% for address in action['routes'] %}
                <div>{{ address }}</div>
                {% endfor %}
            </td>
            <!--<td>{{ action['routes'] }}</td>-->
            <!--<td>{{ action['availabilities'] }}</td>-->
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

</body>
</html>
